#rr11logo {
  margin: 0 5px;
}

.desktop {
  display: none !important;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .desktop {
    display: table !important;
  }
}
